<!-- Generated template for the ListProductComponent component -->
<button class="list-item" ion-item *ngFor="let prod of productList.product">
  <ion-row no-padding class="content-row one-line">
      <!-- You can limit the rows of the description by using the class one-line. If you remove it, all the content from the row will be shown -->
      <ion-col no-padding width-18 class="item-avatar">
          <preload-image class="avatar-image" [ratio]="{w:1, h:1}" [src]="prod.img"></preload-image>
      </ion-col>
      <ion-col no-padding width-72 class="item-content">
          <h3 class="item-title">{{prod.name}}</h3>
          <p class="item-description">{{prod.detail}}</p>
          <p class="item-description">ราคา {{prod.price}} บาท</p>
      </ion-col>
      <ion-col no-padding width-10 class="item-icon">
          <ion-icon name="arrow-forward"></ion-icon>
      </ion-col>
  </ion-row>
  </button>