
@mixin categories-title-style($color) {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 8vw;
    font-weight: 900;
    letter-spacing: 0.4px;
    color: $color;
    margin: 0px;
}

page-product-detail {
    $contact-card-slides-height: 45%;
    $categories-heading-image-height: 150px;
    $categories-grid-padding: 10px;
    $categories-horizontal-list-padding: 10px;
    .contact-card-content {
        .contact-slides {
            height: $contact-card-slides-height;
            ion-slide.contact-slide {
                .slide-zoom {
                    height: 100%;
                }
            }
            .swiper-pagination {
                .swiper-pagination-bullet {
                    opacity: 1;
                    background: $white;
                    width: 10px;
                    height: 10px;
                }
                .swiper-pagination-bullet-active {
                    background: $theme-color-1;
                }
            }
        }
        .contact-details-row {
            background: rgba(26, 26, 26, 0.5);;
            color: #fff;
            padding: 16px;
            .contact-name {
                margin: 0px;
                font-size: 2.2rem;
                font-weight: 400;
            }
            .rating-col {
                display: flex;
                @include align-items(center);
                @include justify-content(flex-end);
            }
            .contact-rating {
                @include rating-item-styles($white-d, $theme-color-1);
                .rating-item {
                    box-shadow: none;
                    background: transparent;
                    margin: 2px 0px;
                    min-height: 0px;
                    rating {
                        padding: 0px !important;
                        .rating-icon {
                            height: auto;
                            &:last-child {
                                padding-right: 0px;
                            }
                            ion-icon {
                                font-size: 0.9em !important;
                            }
                        }
                    }
                }
            }
            .contact-description {
                margin: 8px 0px 0px;
                color: #fff;
            }
        }
        .button-bar {
            @include display(flex);
            margin: 6px 0px;
            &>.button {
                @include segment-text-styles(color($colors, button-alt, base));
                background-color: color($colors, button-alt, contrast);
                margin: 0px;
                border-radius: 0px;
                @include flex(1);
                &::after {
                    content: '';
                    background-color: $white-c;
                    width: 2px;
                    @include calc(height, "100% - 20px");
                    margin: 10px 0px;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                    opacity: 0.6;
                }
                &:last-child {
                    &::after {
                        content: initial;
                    }
                }
                ion-icon {
                    font-size: 2.2em;
                }
            }
        }
        .details-list {
            margin: 0px 16px 24px;
            ion-item {
                background: transparent;
                padding: 0px;
                border: none !important;
                ion-avatar {
                    margin: 5px 10px 5px 0px;
                    min-width: 0px;
                    min-height: 0px;
                    width: 10%;
                    text-align: center;
                    ion-icon {
                        font-size: 1.8em;
                        color: $white-d;
                    }
                }
                .item-inner {
                    padding: 22px 0px;
                    border-bottom: 0.55px solid rgba($white-d, .6) !important;
                    ion-label {
                        margin: 0px;
                        overflow: visible;
                        white-space: normal;
                    }
                }
            }
            .detail-item {
                .detail-text {
                    color: $white-d;
                    font-size: 1.4rem;
                    display: block;
                    margin-left: 8px;
                }
            }
        }
    }
    .categories-title-pomotion {
        font-size: 1.7rem;
        font-weight: 400;
        letter-spacing: 0.7px;
        color: #99FF66;
        margin: 8px 16px 16px;
    }
    .categories-title {
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 0.7px;
        color: $white-d;
        margin: 8px 16px 16px;
    }
    .horizontal-categories {
        border-bottom: 10px solid $white-a;
        @include element-shadow();
        padding-bottom: 16px;
        .scroll-content {
            position: relative;
            contain: style layout;
        }
        preload-image {
            // border-radius: 50%;
            img {
                // border-radius: 50%;
                z-index: -3;
            }
        }
        .categories-row {
            @include flex-wrap(nowrap);
            &::after {
                content: '';
                flex: 0 0 $categories-horizontal-list-padding;
                max-width: $categories-horizontal-list-padding;
            }
        }
        .horizontal-item {
            padding: 0px 0px 0px $categories-horizontal-list-padding;
        }
    }
    .txt-centr {
        // z-index: 999;
        
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; // width: 100% !important;
    }
    .txt-centr2 {     
        text-align: center;
        margin-top: -10px;
    }
    .product-box{
        background-color: rgba($black-c, .6);
        margin-top: -50px;
        color: $white;
    }
    @include radio-tags-styles($white, $theme-color-1, $white);

	.radio-tags
	{
		@include flex-wrap(nowrap);
		padding: 15px;

		.radio-tag
		{
			border-radius: 8px;

			.item-inner
			{
				padding: 0px 8px;

				ion-label {
					margin: 8px 0px;
				}
			}
		}
    }
    .radio-group
	{
		padding-left: 15px;
		background-color: $white;
		@include element-shadow();

		@include radio-item-styles($white-d, $white-a, $theme-color-1);
	}
}

