<ion-slides class="contact-slides" pager="true">
  <ion-slide class="contact-slide" *ngFor="let data of dataTopBar.img">
    <background-image class="slide-image" [src]="data.url"></background-image>
  </ion-slide>
</ion-slides>
<ion-row class="contact-details-row" wrap>
  <ion-col no-padding width-65>
    <h2 class="contact-name">{{dataTopBar.name}}</h2>
  </ion-col>
  <ion-col no-padding width-35 class="rating-col">
    xxx
  </ion-col>
  <ion-col no-padding width-100>
    <p class="contact-description">
      {{dataTopBar.detail}}
    </p>
  </ion-col>
</ion-row>