page-cart {
    .color-c {
        color: #5f5f5f;
    }
    .h2-total {
        margin: 0px !important;
    }
    .item-title {
        font-weight: bold;
        color: #ae75e7;
    }
    .tb {
        margin-top: 4px;
        font-weight: bold;
    }
    .circle-btn {
        border-radius: 50% !important;
        padding: 5px !important;
    }
    .item-md ion-avatar {
        min-width: 80px;
        min-height: 80px;
    }
    .content-md {
        color: #000;
        background-color: #f7f7f7;
    }
    .content-ios {
        color: #000;
        background-color: #f7f7f7;
    }
}