page-cart {
    .item-title {
        font-weight: bold;
        color: #ae75e7;
    }
    .tb {
        margin-top: 4px;
        font-weight: bold;
    }
    .circle-btn {
        border-radius: 50% !important;
        padding: 5px !important;
    }
    .item-md ion-avatar {
        min-width: 80px;
        min-height: 80px;
    }
}