<!-- Generated template for the ConfirmComponent component -->
<ion-list no-lines>
    <ion-item>
        <p>มูลค่าสินค้า</p>
        <p item-end>{{confirm.confirm.price}} บาท</p>
    </ion-item>
    <ion-item>
        <p>ค่าธรรมเนียมการจัดส่งสินค้า</p>
        <p item-end>{{confirm.confirm.deliveryprice}} บาท</p>
    </ion-item>
    <ion-row>
        <ion-col col-8>
            <ion-item>
                <ion-input type="text" placeholder="ใส่โค้ดส่วนลดตรงนี้"></ion-input>
            </ion-item>
        </ion-col>
        <ion-col col-4>
            <button ion-button block color="warning">ยืนยัน</button>
        </ion-col>
    </ion-row>
    <ion-item>
        <p><b>ยอดสุทธิ (รวมภาษีมูลค่าเพิ่ม)</b></p>
        <p item-end><b>{{confirm.confirm.amount}} บาท</b></p>
    </ion-item>
</ion-list>
<ion-row>
    <ion-col col-12>
        <button ion-button block color="warning" (click)="placeorder()">สั่งสินค้า</button>
    </ion-col>
</ion-row>
<ion-item-group>
    <ion-item-divider color="light"><b>รายการ</b></ion-item-divider>
</ion-item-group>
<div class="list-mini">
    <ion-list>
        <ion-item *ngFor="let item of confirm.confirm.products">
            <ion-row>
                <ion-col col-12>
                    <p>{{item.shop}}</p>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col no-padding width-20 class="item-avatar">
                    <preload-image class="avatar-image" [ratio]="{w:1, h:1}" src="{{item.img}}"></preload-image>
                </ion-col>
                <ion-col no-padding width-60 class="white-space">
                    <h3 class="item-title">{{item.name}}</h3>
                    <p class="item-description">จำนวน: {{item.qty}}</p>
                </ion-col>
                <ion-col no-padding width-20>
                    <p>{{item.price}} บาท</p>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col padding width-100 text-center class="ion-col-deilvery">
                    <p>{{item.choice.discription}}</p>
                    <p>{{item.choice.type}}</p>
                </ion-col>
            </ion-row>
        </ion-item>
    </ion-list>
    <ion-row>
        <p>ที่อยู่จัดส่ง</p>
        <ion-col col-12>
            <p class="review-address"><b>{{confirm.confirm.customer.displayName}}</b></p>
            <p class="review-address">{{confirm.confirm.customer.address.address}} {{confirm.confirm.customer.address.subdistrict}} {{confirm.confirm.customer.address.district}} {{confirm.confirm.customer.address.province}} {{confirm.confirm.customer.address.postcode}}</p>
            <p class="review-address">โทร : {{confirm.confirm.customer.tel}} , {{confirm.confirm.customer.email}}</p>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12>
            <button ion-button block color="warning" (click)="placeorder()">สั่งสินค้า</button>
        </ion-col>
    </ion-row>
</div>