data-scroll-x {
    $categories-heading-image-height: 150px;
    $categories-grid-padding: 10px;
    $categories-horizontal-list-padding: 10px;
    .horizontal-categories {
        border-bottom: 10px solid $white-a;
        @include element-shadow();
        padding-bottom: 16px;
        .scroll-content {
            position: relative;
            contain: style layout;
        }
        preload-image {
            // border-radius: 50%;
            img {
                // border-radius: 50%;
                z-index: -3;
            }
        }
        .categories-row {
            @include flex-wrap(nowrap);
            &::after {
                content: '';
                flex: 0 0 $categories-horizontal-list-padding;
                max-width: $categories-horizontal-list-padding;
            }
        }
        .horizontal-item {
            padding: 0px 0px 0px $categories-horizontal-list-padding;
        }
    }
}