<ion-header>
  <ion-navbar>
    <ion-title>{{shopDetail.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="contact-card-content">
  <topbar [dataTopBar]="shop"></topbar>

  <div class="button-bar">
    <button ion-button primary>
    <ion-icon name="call"></ion-icon>
  </button>
    <button ion-button primary (click)="sendMail()">
    <ion-icon name="mail"></ion-icon>
  </button>
  </div>
  <preload-image [ratio]="{w:4, h:2}" src="https://maps.googleapis.com/maps/api/staticmap?center={{map.lat}},{{map.long}}&zoom=15&size=400x300&scale=2&markers=icon:https://s3-us-west-2.amazonaws.com/ionicthemes-apps-assets/ion2FullApp/pin.min.png|{{map.lat}},{{map.long}}"
    alt="location map" title="shop name - shop detail"></preload-image>
  <ion-list class="details-list">
    <ion-item class="detail-item">
      <ion-avatar item-left>
        <ion-icon name="call"></ion-icon>
      </ion-avatar>
      <span class="detail-text">{{shop.tel}}</span>
    </ion-item>
    <ion-item class="detail-item">
      <ion-avatar item-left>
        <ion-icon name="mail"></ion-icon>
      </ion-avatar>
      <span class="detail-text">{{shop.email}}</span>
    </ion-item>
  </ion-list>
  
  <h4 *ngIf="shop.products && shop.products.length > 0" class="categories-title">{{'สินค้า'}}<span class="see-all">see all</span></h4>
  <data-scroll-x *ngIf="shop.products && shop.products.length > 0" [dataListX]="shop.products"></data-scroll-x>
</ion-content>