<!-- <ion-header>
    <ion-navbar>
        <ion-title>Popovers</ion-title>
        <ion-buttons end>
            <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="more"></ion-icon>
      </button>
        </ion-buttons>
    </ion-navbar>
</ion-header> -->

<div #popoverContent class="popover-page" #popoverText>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-row style="background-color: #fff;margin-top: -6px;padding: 2px; text-align:center">
        <ion-col col-6 (click)="presentPopoverFilter($event)">
            <button ion-button block color="light" icon-start>
                <ion-icon name='ios-funnel-outline'></ion-icon>Filter</button>
        </ion-col>
        <ion-col col-6 (click)="presentPopoverSort($event)">
            <button ion-button block color="light" icon-start>
                <ion-icon name='ios-swap-outline'></ion-icon>Sort</button>
        </ion-col>
    </ion-row>
</div>