<ion-list>
  <ion-item class="notification-item" *ngFor="let data of dataCartList; let i = index">
    <ion-avatar item-left>
      <preload-image class="user-image" [ratio]="{w:1, h:1}" [src]="data.product.img[0].url"></preload-image>
    </ion-avatar>
    <h2 class="item-title">{{data.product.name}}</h2>
    <p class="item-description" *ngIf="data.product.issize"><b> Size : {{data.product.size.detail}} - {{data.selectedsize}}</b></p>
    <p class="item-description"><b>{{data.itemamount}} Baht</b></p>
    <button ion-button icon-only clear color="danger" class="circle-btn" (click)="favoriteItem(data)"> 
      <ion-icon name="md-heart-outline"></ion-icon>
    </button>
    <button ion-button icon-only clear color="gray" class="circle-btn" (click)="deleteItem(data,i)">
      <ion-icon name="ios-trash-outline"></ion-icon>
    </button>
    <p item-end class="qty-btn">
      <button ion-button item-end icon-only color="btn" class="circle-btn" (click)="addQtyItem(data)">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button item-end clear icon-only color="btn" class="circle-btn qty">
          {{data.qty}}
      </button>
      <button ion-button item-end icon-only color="btn" class="circle-btn" (click)="removeQtyItem(data)">
        <ion-icon name="remove"></ion-icon>
      </button>
    </p>
  </ion-item>
</ion-list>